#top { 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(192, 184, 245);
    text-align: justify;
    font-size: 25px;
 }

 #bottom { 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(192, 184, 245);
    text-align: justify;
    font-size: 20px;
}

#pic1 { 
    max-width: 100%;
    /* height: auto; */
}