.players {
    display: grid;
    background-color: #101820FF;
    justify-content: space-evenly;
    gap: 10px 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: auto;
    padding: 10px;
     
}

.newPlayer {

    display: block;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
    padding: 10px;
}

.player_div a:link {
    color: mediumturquoise; 
}
.player_div a:visited { 
    color: mintcream; 
}



.photo img {
    width: 350px;
    height: 350px;
    object-fit: cover;


}


.search {
    padding: 15px;
}