.players {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    background-color: #181818;
    justify-content: space-evenly;
    
 
}

.name a:link { 
    color: mediumturquoise; 
}
.name a:visited { 
    color: mintcream; 
}



.photo img {
    width: 350px;
    height: 350px;
    object-fit: cover;


}