nav {
 display: grid;
 grid-template-columns: 2fr 2fr;
 background: rgb(192, 184, 245);
}

nav .left  {
    display: flex;

}

nav .right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    padding-right: 15px;

}

#signup, #logout, #login, #home {
    background:tomato;
    padding: 15px;
    border-radius: 25px;
    color: whitesmoke
}

nav.active {
    padding: 100px;
}

#signup:hover, #logout:hover, #login:hover, #home:hover {
    background: palegreen;
    padding: 15px;
    border-radius: 25px;
    color: black
}

#log, #demo {
    padding: 5px;
    border-radius: 25px;
    background: orangered;
    color: whitesmoke;
}


#log:hover, #demo:hover {
    padding: 5px;
    border-radius: 25px;
    background: black;
    color: whitesmoke;
}

.log_in {
    display: flex;
    color: blanchedalmond;
    background: rgb(47, 47, 47);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    padding-top:34px;


}

.welcome {
    color: #F4af1b;
    font-family: Arial, Helvetica, sans-serif;

}

.sign_up {
    color: whitesmoke;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    display: inline-table;
    
}

#new-signup{
    background-color: black;
    color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}


.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.081fr 4.9fr 0.3fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Header Header Header"
    "Main Main Main"
    "Footer Footer Footer"; 
}

.Footer { 
    grid-area: Footer; 
    position: fixed;
    width: 100%;
    bottom: 0;
    }
.Header { 
    grid-area: Header; 
    position: fixed;
    width: 100%;
    top: 0;
}
.Main { 
    grid-area: Main; 
    padding-top: 90px;
    width: 100%;
    
}

