nav {
 display: grid;
 position: fix;
 background: orangered;
}


nav .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#sign-up, #logout {
    background: black;
    padding: 15px;
    border-radius: 35px;
}