body {

    /* background-image: url(https://images.unsplash.com/photo-1621844816188-c249945fe28e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1340&q=80);
    background-size: cover; */
  margin: 0px;
  background: #101820FF;  
    
}


.player_container{
    display: flex;
    background: #101820FF;
    /* grid-template-columns: 1fr  1fr;
    grid-gap: 10px */
    /* justify-content: right; */
    
}

.player_info {
    color: #FEE715FF;
    
}

.comments {
    flex: 1;
    margin-right: 15px;
    /* float: right; */
}

#comment {
    overflow: auto;
}

.video {

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    row-gap: 10px;
    column-gap: 10px;
}
    
#front_photo {

    width: 190px;
    height: 250px;
    object-fit: cover;

}


#stats_button {
    background: skyblue;
    padding: 5px;


}

#stats_button:hover {
    background: steelblue;
    padding: 5px;
}

#comment_button {
    background: royalblue;
    padding: 8px;
    border-radius: 15px
}

#comment_button:hover {
    background: aqua; 
    padding: 8px;
    border-radius: 15px
}

#edit_button, #delete_button {
    background: lightblue;
    padding: 5px;
    border-radius: 10px;
}

#edit_button:hover,#delete_button:hover {
    background: rgb(8, 82, 255); 
    padding: 5px;
    border-radius: 10px;
}

#user_comments{
    color: #ffd55a;
    font-family: 'Courier New', Courier, monospace;
    overflow: scroll;
}

/* .comments {
    overflow: scroll;
    width: 500px;
    height: 80px;
} */

#users{
    color: #e71;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.stats {
    color: #F2AA4CFF;
    font-size: 20px;

}

